{:aliases  {:dev {:extra-paths ["development/src"
                                "components/cli/src"
                                "components/cli/resources"
                                "components/config/src"
                                "components/config/resources"
                                "components/console/src"
                                "components/console/resources"
                                "components/game/src"
                                "components/game/resources"
                                "components/log/src"
                                "components/log/resources"
                                "components/terminal/src"
                                "components/terminal/resources"
                                "bases/client/src"
                                "bases/client/resources"
                                "bases/server/src"
                                "bases/server/resources"]

                  :extra-deps {aleph/aleph {:mvn/version "0.4.6"}
                               bidi/bidi {:mvn/version "2.1.6"}
                               cheshire/cheshire {:mvn/version "5.10.2"}
                               com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
                               com.googlecode.lanterna/lanterna {:mvn/version "3.2.0-alpha1"}
                               com.taoensso/timbre {:mvn/version "5.1.2"}
                               manifold/manifold {:mvn/version "0.2.3"}
                               org.clojure/clojure {:mvn/version "1.10.3"}
                               org.clojure/core.async {:mvn/version "1.5.648"}
                               org.clojure/tools.cli {:mvn/version "1.0.206"}
                               org.clojure/tools.deps.alpha {:mvn/version "0.12.1120"}
                               ring/ring {:mvn/version "1.6.3"}
                               yada/yada {:mvn/version "1.2.15"}}}

            :test {:extra-paths ["components/cli/test"
                                 "components/config/test"
                                 "components/console/test"
                                 "components/game/test"
                                 "components/log/test"
                                 "components/terminal/test"
                                 "bases/client/test"
                                 "bases/server/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "19aaaa78094a433862d999c82b3536714ab96973"
                                 :deps/root "projects/poly"}}}}}

