{:paths ["src" "resources"]
 :deps {org.clojure/tools.cli {:mvn/version "1.0.206"}
        com.taoensso/timbre {:mvn/version "5.1.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
