{:paths ["src" "resources"]
 :deps {aleph/aleph {:mvn/version "0.4.6"}
        bidi/bidi {:mvn/version "2.1.6"}
        cheshire/cheshire {:mvn/version "5.10.2"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        manifold/manifold {:mvn/version "0.2.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        ring/ring {:mvn/version "1.6.3"}
        yada/yada {:mvn/version "1.2.15"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
